/* Shared Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    margin: 0 100px;
}

.primary-color {
    color: #ff42a5;
}

/* Navbar Styles */
.rebel-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title h2 {
    padding-left: 20px;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
}

.nav-title img {
    width: 86.041px;
    height: 40px;
}

.nav-items ul {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.nav-items li {
    list-style: none;
    margin-left: 20px;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

.rebel-follow {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 18px;
}

.rebel-follow i {
    margin-left: 10;
    color: #ff42a5;
}

/* Hero Section Style */
.rebel-hero-section {
    display: flex;
    align-items: center;
}

.hero-text {
    background-image: url('../assets/images/Group\ 14.png');
    width: 50%;
}

.hero-text h2 {
    font-weight: 600;
    font-size: 48px;
    color: #0B0223;
    line-height: 0px;
}

.hero-text h1 {
    font-size: 95px;
    font-weight: 800;
    line-height: 0px;
    color: #ff42a5;
}

.hero-text h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.hero-text i {
    margin-right: 10px;
    color: #ff42a5;
}

.signin-btn {
    border-radius: 48px;
    padding: 21px 40px;
    background-color: #ff42a5;
    color: white;
}

.rogue-btn {
    border-radius: 48px;
    padding: 21px 40px;
    margin-left: 10px;
    background-color: #4EC5F7;
}

.hero-img {
    height: auto;
    width: 50%;
}

.hero-img img {
    width: 100%;
}

/* Gaming Section Styles */
.rebel-gaming {
    display: flex;
    align-items: center;
}

.gaming-img {
    height: auto;
    width: 50%;
}

.gaming-img img {
    width: 100%;
}

.gaming-text {
    width: 50%;
    text-align: right;
}

.gaming-text h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: #ff42a5;
    line-height: 0;
}

.gaming-text p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #534C64;
}

.gaming-text button {
    border-radius: 48px;
    padding: 21px 40px;
    background-color: #ff42a5;
    color: white;
}

.gaming-text h3 {
    color: #534C64;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.gaming-text h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    color: #534C64;
}

/* Online Gaming Section Style */
.rebel-online-header {
    text-align: center;
    margin: 30px 0px;
}

.rebel-online-header h1 {
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 0;
}

.rebel-online-header p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #534C64;
}

.rebel-online-carts {
    display: flex;
    width: auto;
    justify-content: space-between;
}

.rebel-online-cart p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.rebel-online-cart i,
h4 {
    display: none;
}

.rebel-online-cart:nth-child(1) {
    width: 100%;
}

.rebel-online-cart:nth-child(2) {
    width: 100%;
    margin-left: 10px;
}

.rebel-online-cart:nth-child(3) {
    width: 100%;
    margin-left: 10px;
}

.rebel-online-cart:nth-child(4) {
    width: 100%;
    margin-left: 10px;
}

.rebel-online-carts img {
    width: 100%;
    height: 400px;
}

/* Play Games Styles */
.rebel-play-games {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.rebel-play-games-title {
    width: 50%;
    margin-right: 120px;
    text-align: right;
}

.rebel-play-games-title p {
    font-size: 18px;
    font-weight: 400;
    color: #0B0223;
}

.rebel-play-games-title h1 {
    font-size: 48px;
    font-weight: 700;
}

.rebel-play-games-img {
    width: 50%;
    height: 500px;
}

.games-image-1 {
    width: 100%;
}

.games-image-2 {
    position: relative;
    bottom: 250px;
    right: 75px;
}
/* Carrier Section Style */
.rebel-carrier {
    display: flex;
    align-items: center;
    background-color: #ff42a5;
}

.carrier-title {
    width: 50%;
    margin: 0 100px;
}

.carrier-title h1 {
    color: white;
    font-size: 36px;
    line-height: 0;
    font-weight: 700;
}

.carrier-title p {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.carrier-items {
    display: flex;
}

.carrier-items p {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.carrier-destination {
    text-align: right;
    margin-left: 20px;
}
.carrier-title button{
    padding: 21px 40px;
    background-color: white;
    color: #ff42a5;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
}
.carrier-img {
    margin: 0;
    width: 50%;
}

.carrier-img img {
    width: 100%;
}